.centerContainer {
    display: flex;
    margin: 20rem;

}

.dataBtn {
    display: flex;
    background-color: black;
    padding: 2px;
    border-radius: 10px;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Media query for iPhone 14 Pro Max */
@media (max-width: 430px) {
    .centerContainer {
      margin: 2rem 1rem; /* Reduce margin for smaller screens */
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: center; /* Center items within the container */
    }
  
    .dataBtn {
      padding: 0.5em 2em; /* Adjust padding for smaller screens */
      font-size: 1rem; /* Reduce font size for better fit */
      text-align: center;
    }
  }